// Font
$mainFont                : 'Inter', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #213547;
$mainFontSize            : 20px;
$mainFontWeight          : 500;
$mainLineHeight          : 150%;

$lgDesktopWidth          : 1440px;
$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$tabletWidth             : 768px;
$smTabletWidth           : 576px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #FEFEFE;
$primary-color           : #B18C9A;
$success-color           : #8FD0C0;
$danger-color            : #fc5c65;
$warning-color           : #E0B40B;
$light-color             : #B0B5B6;
$green-color-100         : #BFD9D2;
